<% if (config.links_title){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= config.links_title %></h3>
    <div class="widget">
      <ul>
          <li>
            <a href="http://zhengqiangblog.com/">zhengqiang's blog</a>
          </li>
          <li>
            <a href="http://eyougo.com/">EyouGo Blog</a>
          </li>
          <li>
            <a href="http://panmax.love/">Panmax</a>
          </li>
          <li>
            <a href="http://pipelinecraft.com">Panmax</a>
          </li>
      </ul>
    </div>
  </div>
<% } %>
